In [53]:
import pandas as pd
import random

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})

unique_vals = data['whoAmI'].unique()
one_hot = pd.DataFrame(0, index=data.index, columns=unique_vals)

for val in unique_vals:
    one_hot.loc[data['whoAmI'] == val, val] = 1

data = pd.concat([data, one_hot], axis=1)
data = data.drop('whoAmI', axis=1)
data

    robot  human
0       1      0
1       1      0
2       0      1
3       0      1
4       0      1
5       1      0
6       0      1
7       0      1
8       1      0
9       1      0
10      0      1
11      0      1
12      1      0
13      1      0
14      1      0
15      0      1
16      1      0
17      0      1
18      1      0
19      0      1