>
- Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data
- Посмотреть сколько в нем строк и столбцов
- Определить какой тип данных имеют столбцы

In [4]:
import pandas as pd

df = pd.read_csv('./california_housing_test.csv')

In [5]:
df.shape

(3000, 9)

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [7]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

- Проверить есть ли в файле пустые значения
- Показать median_house_value где median_income < 2
- Показать данные в первых 2 столбцах
- Выбрать данные где housing_median_age < 20 и median_house_value > 70000

In [8]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [9]:
df[df['median_income'] < 2]['median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [10]:
df.iloc[:, :2]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [11]:
df.loc[:, :'total_rooms']

      longitude  latitude  housing_median_age  total_rooms
0       -122.05     37.37                27.0       3885.0
1       -118.30     34.26                43.0       1510.0
2       -117.81     33.78                27.0       3589.0
3       -118.36     33.82                28.0         67.0
4       -119.67     36.33                19.0       1241.0
...         ...       ...                 ...          ...
2995    -119.86     34.42                23.0       1450.0
2996    -118.14     34.06                27.0       5257.0
2997    -119.70     36.30                10.0        956.0
2998    -117.12     34.10                40.0         96.0
2999    -119.63     34.42                42.0       1765.0

[3000 rows x 4 columns]

In [12]:
df[(df["housing_median_age"] < 20) & (df["median_house_value"] > 70000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
...,...,...,...,...,...,...,...,...,...
2978,-121.34,38.64,17.0,2761.0,501.0,1128.0,482.0,3.7562,139700.0
2981,-120.66,35.49,17.0,4422.0,945.0,2307.0,885.0,2.8285,171300.0
2984,-117.59,33.88,13.0,3239.0,849.0,2751.0,813.0,2.6111,107000.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0

- Определить какое максимальное и минимальное значение median_house_value

- Показать максимальное median_house_value, где median_income = 3.1250

- Узнать какая максимальная population в зоне минимального значения median_house_value

In [13]:
min = df['median_house_value'].min()
max = df['median_house_value'].max()
df[df['median_house_value'] == min]
df[df['median_house_value'] == max]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
42,-118.06,34.15,37.0,1980.0,226.0,697.0,226.0,15.0001,500001.0
117,-122.07,37.34,30.0,1851.0,238.0,631.0,236.0,10.1007,500001.0
118,-117.18,33.02,15.0,3540.0,453.0,1364.0,425.0,13.6623,500001.0
128,-122.47,37.79,52.0,2844.0,623.0,1380.0,596.0,4.7500,500001.0
135,-122.34,37.56,39.0,3562.0,391.0,1139.0,391.0,12.6417,500001.0
...,...,...,...,...,...,...,...,...,...
2960,-117.89,33.60,36.0,1496.0,247.0,441.0,203.0,7.8164,500001.0
2968,-119.23,34.17,18.0,6171.0,1490.0,2164.0,1210.0,3.6875,500001.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [16]:
max = df['median_house_value'].max()
filter = df['median_income'] == 3.1250
filter_1 = df[df['median_house_value'] == max]
df[filter_1['median_income'] == 3.1250]

C:\Users\nurti\AppData\Local\Temp\ipykernel_2984\2226127415.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[filter_1['median_income'] == 3.1250]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).